@white: #fff;
@grey: #ccc;
@red: red;
@black: #000;
@background: #FAF7FA;
@textcolor: #000;
@textsize: .28rem;

#app{
    background: @background;
}
.container {
    
    height: 100%;
}
.chooseAddress{
        margin-top: .2rem;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: .2rem;
    img{
        margin-right: .3rem;
        width: .4rem;
        height: .4rem;
    }
}

.addressBox {
    margin: .2rem 0;
    padding: .3rem;
    border: 1px solid @grey;
    background: @white;
    img {
        margin-right: .3rem;
        width: .4rem;
        height: .4rem;
    }
}

.address-text {
    width: 100%;
}

.address-location {
    margin-top: .2rem;
}

.order-post {
    background: @white;
    margin-bottom: 0.2rem;
    padding: .2rem;
    font-size: @textsize;
    p {
        margin-bottom: .2rem;
    }
}

.order-item {
    border-bottom: 1px solid @grey;
    padding: .2rem;
    align-items: flex-start;
    background: @white;
}

.order-image {
    height: 2rem;
    width: 2rem;
    margin-right: .2rem;
    img {
        width: 2rem;
        display: block;
        height: 100%;
    }
}

.order-text {
    width: 100%;
}

.order-textBox {
    flex: 1;
    align-items: flex-start;
    text-align: left;
    width: 62%;
    .orderText p {
        margin-bottom: .15rem;
    }
}

.order-name {
    text-align: left;
    font-size: @textsize;
}

.order-coach {
    text-align: right;
    color: @red;
    font-size: @textsize;
    margin: .3rem 0;
}

.order-num {
    text-align: right;
    font-size: @textsize;
}


.submitOrder {
    background: @red;
    color: @white;
    width: 2.6rem;
    text-align: center;
}

.model-payback {
//  padding: .2rem;
}


.reason-content {
    border-radius: .15rem;
    height: .6rem;
    border: 1px solid @black;
    width: 80%;
    margin-left: 10%;
}

select{
    width:90%;
//  margin-left: 2%;
    margin-bottom: .2rem;
    margin-top: .2rem;
    height: 0.6rem;
    font-size: @textsize;
}

textarea {
    border: 1px solid #000!important;
    height: 1.2rem!important;
    width: 90%!important;
//  margin-left: 2%!important;
    font-size: @textsize!important;
    padding-left: .2rem!important;
}

.reason-inner {
    height: 1.2rem!important;
}

.insure {
    width: 2rem;
    color: @white;
    background: @black;
    text-align: center;
    font-size: @textsize;
    margin: 0 auto;
    height: .4rem;
    line-height: .4rem;
    margin-top: .2rem;
}